<% @page_heading = "Sign up" %>

<div class="prefix_1 suffix_1">
  <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |form| %>
    <%= devise_error_messages! %>
    <%= form.inputs do %>
      <%= form.input :name %>
      <%= form.input :email %>
      <%= form.input :password %>
      <%= form.input :password_confirmation, :required => true %>
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button 'Sign up' %>
    <% end %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>