<% @page_heading = "Change your password" %>

<div class="prefix_1 suffix_1">
  <%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |form| %>
    <%= devise_error_messages! %>
    
    <%= form.inputs do %>
      <%= form.input :reset_password_token, :as => :hidden %>
      <%= form.input :password %>
      <%= form.input :password_confirmation %>
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button 'Change my password' %>
    <% end %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>
