<% @page_heading = "Forgot your password?" %>

<div class="prefix_1 suffix_1">
  <%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |form| %>
    <%= devise_error_messages! %>
    
    <%= form.inputs do %>
      <%= form.input :email %>
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button 'Send me reset password instructions' %>
    <% end %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>