<% @page_heading = "Set your password" %>

<div class="prefix_1 suffix_1">
  <%= semantic_form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put }) do |form| %>
    <%= devise_error_messages! %>
    <%= form.inputs do %>
      <%= form.input :invitation_token, :as => :hidden %>
      <%= form.input :name %>
      <%= form.input :password %>
      <%= form.input :password_confirmation, :required => true %>
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button 'Set my password' %>
    <% end %>
  <% end %>
</div>
