<% @page_heading = "Send invitation" %>

<div class="prefix_1 suffix_1">
  <%= semantic_form_for(resource, :as => resource_name, :url => invitation_path(resource_name)) do |form| %>
    <%= devise_error_messages! %>
    <%= form.inputs do %>
      <%= form.input :name %>
      <%= form.input :email %>
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button 'Send an invitation' %>
    <% end %>
  <% end %>
</div>
