<% @page_heading = "Lock" %>

<div class="prefix_1 suffix_1">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Person:</b>
    <%= @lock.person %>
  </p>

  <p>
    <b>Machine:</b>
    <%= @lock.machine %>
  </p>

  <p>
    <b>Done at:</b>
    <%= @lock.done_at %>
  </p>


  <%= link_to 'Edit', edit_lock_path(@lock) %> |
  <%= link_to 'Back', locks_path %>
</div>