<div class="box">
  <h2>Available Machines</h2>
  <div class="block" id="available_machines">
    <% machines.each do |machine| %>
      <div class="grid_2 alpha omega">
        <p><%= machine.name %></p>
      </div>
      <div class="grid_2 alpha omega">
        <p><%= link_to "Lock Now", quick_locks_path(machine), :method => :post %></p>
      </div>
      <div class="clear"></div>
    <% end %>
  </div>
</div>
