<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Who Builds?</title>
    <% if @redirect_url %>
      <meta http-equiv='refresh' content='<%= @redirect_delay -%>;url=<%= @redirect_url -%>'>
    <% end %>
    <%= stylesheet_link_tag('reset', 'text', '960gs', 'layout', 'nav', :media => 'screen, projection') %>
    <!--[if IE 6]><%= stylesheet_link_tag('ie6', :media => 'screen, projection') %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag('ie', :media => 'screen, projection') %><![endif]-->
    <%= stylesheet_link_tag('application', 'formtastic', 'formtastic_changes', :media => 'screen, projection') %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_16">
      <div class="grid_16">
        <h1 id="branding">
          <a href="<%= root_url %>">Who Builds?</a>
        </h1>
      </div>
      <div class="clear"></div>
      <div class="grid_16">
        <ul class="nav main">
          <% if person_signed_in? %>
          <li>
            <%= link_to "Home", locks_path %>
          </li>
          <li>
            <%= link_to "Machines", machines_path %>
          </li>
          <li>
            <%= link_to "Add Builder", new_person_invitation_path %>
          </li>
          <li class="secondary">
            <%= link_to "Sign out", destroy_person_session_path %>
          </li>
          <li class="secondary">
            <%= link_to "Account", edit_person_path %>
          </li>
          <% else %>
          <li class="secondary">
            <%= link_to "Sign in", new_person_session_path %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="grid_16">
        <h2 id="page-heading"><%= page_heading %></h2>
      </div>
      <div class="clear"></div>
      <div class="grid_12">
        <%= yield %>
        <div class="clear"></div>
      </div>
      <div class="grid_4">
        <%= available_machines_sidebar if person_signed_in? %>
        <div class="clear"></div>
        <%= content_for :sidebar %>
      </div>      
      <div class="clear"></div>
      <div class="grid_16" id="site_info">
        <div class="box">
          <p></p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <%= javascript_include_tag :defaults, :cache => false %>
  </body>
</html>